---
export const prerender = false;
import { sanityClient } from 'sanity:client';
import Button from './Button.astro';

const longEvents = await sanityClient.fetch(`*[_type == "event" && multipleDays == true]  {
  excerpt, 
  "date": eventDate,
  "startDate": startEventDate,
  "endDate": endEventDate,
  startHour,
  endHour,
  title,
  "image": mainImage.asset -> url
}`);

const events = await sanityClient.fetch(`*[_type == "event" && multipleDays == false]  {
  excerpt, 
  "date": eventDate,
  startHour,
  endHour,
  title,
  "image": mainImage.asset -> url
}`);
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Eventi & Incontri</h2>
    </div>
    <div class="mx-auto mt-16 flex items-center justify-center flex-wrap gap-8 sm:mt-20 lg:mx-auto lg:max-w-3xl ">
      {
        longEvents.map((event: any) => {
          return (
          <div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src={event.image} alt={'immagine di'  + event.title} class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

          <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
            <time datetime={event.startDate} class="rounded-xl mr-8 py-1 px-2 bg-gray-300/60 text-black">{event.startDate + " -> " + event.endDate}</time>
            <div class="-ml-4 flex items-center gap-x-4">
              <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                <circle cx="1" cy="1" r="1" />
              </svg>
              <div class="flex gap-x-2.5">
                <time datetime={event.startHour} class="rounded-xl mr-8 py-1 px-2 bg-gray-300/60 text-black">{event.startHour + ' -> ' + event.endHour}</time>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-left ">
            <h3 class="mt-3 text-xl font-semibold leading-6 text-white">{event.title}</h3>
            <p class="text-white mt-3">{event.excerpt}</p>
            <a href="/contattami" class="mt-5 rounded-full mr-auto bg-white hover:bg-gray-300 px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300">Contattami</a>
          </div>
        </div>
          )
        })
      }
      {
        events.map((event: any) => {
          return (
          <div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src={event.image} alt={'immagine di'  + event.title} class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

          <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
            <time datetime={event.date} class="rounded-xl mr-8 py-1 px-2 bg-gray-300/60 text-black">{event.date}</time>
            <div class="-ml-4 flex items-center gap-x-4">
              <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                <circle cx="1" cy="1" r="1" />
              </svg>
              <div class="flex gap-x-2.5">
                <time datetime={'from ' + event.startHour + ' to ' + event.endHour} class="rounded-xl mr-8 py-1 px-2 bg-gray-300/60 text-black">{event.startHour + ' -> ' + event.endHour}</time>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-left ">
            <h3 class="mt-3 text-xl font-semibold leading-6 text-white">{event.title}</h3>
            <p class="text-white mt-3">{event.excerpt}</p>
            <a href="/contattami" class="mt-5 rounded-full mr-auto bg-white hover:bg-gray-300 px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300">Contattami</a>
          </div>
        </div>
          )
        })
      }
    </div>
    <div class="mt-10">
      <Button title="Guarda tutti" link="/calendario" />
    </div>
  </div>
</div>
